<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>File Explorer</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <style>
        .el-table__row {
            cursor: pointer;
        }
    </style>
</head>

<body>
    <div id="app">
        <el-container>
            <el-main>
                <el-button @click="goBack" v-show="showBack" size="mini" type="success" class="el-icon-caret-left">Back
                </el-button>
                <el-table :data="fileList" @row-click="rowClick" v-if="!isFile">
                    <el-table-column prop="name" label="Name" sortable sort-by="['type', 'name']">
                        <template slot-scope="scope">
                            <span>
                                <i class='el-icon-folder' v-if="scope.row.type == 'directory'"
                                    style="color:yellow;"></i>
                                <i class="el-icon-collection" v-else style="color: blue;"></i>
                                {{ scope.row.name }}
                            </span>
                        </template>
                    </el-table-column>
                    <el-table-column prop="mtime" label="Modify Time" sortable :sort-method="sortTime">
                        <template slot-scope="scope">{{ scope.row.mtime|formatTime(false) }}</template>
                    </el-table-column>
                    <el-table-column prop="size" label="Size" sortable>
                        <template slot-scope="scope">{{ scope.row.size|formatBytes }}</template>
                    </el-table-column>
                </el-table>
                <div v-else>
                    <el-row>
                        <el-col :span="8">&nbsp;</el-col>
                        <el-col :span="8">
                            <el-tag style="margin: 3px;" type="success"><span style="color:black;">Name:
                                </span>{{ file.name }}</el-tag>
                            <el-tag style="margin: 3px;" type="primary"><span style="color:black;">Size:
                                </span>{{ file.size|formatBytes }}
                            </el-tag>
                            <el-tag style="margin: 3px;" type="warning"><span style="color:black;">Time:
                                </span>{{ file.mtime|formatTime }}
                            </el-tag>
                            <el-input readonly="true" style="margin: 3px;" placeholder="Download link" v-model="downloadLink()"
                                size="small">
                                <template slot="prepend">Link:</template>
                            </el-input>
                            <div style="text-align: center;margin-top:10px;">
                                <el-button type="primary" @click="download" icon=el-icon-download>
                                    Download
                                </el-button>
                            </div>
                        </el-col>
                        <el-col :span="8">&nbsp;</el-col>
                    </el-row>
                </div>
            </el-main>
        </el-container>
    </div>
</body>

<script src="static/main.js"></script>

</html>